In [1]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, Date
import pandas as pd
import os
from datetime import datetime

In [2]:
measurements = pd.read_csv("Resources/clean_hawaii_measurements.csv")
measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [3]:
measurements['date'] = pd.to_datetime(measurements.date)

In [4]:
measurements.dtypes

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [5]:
stations = pd.read_csv("Resources/clean_hawaii_stations.csv")
stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

# START ENGINES

In [6]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [7]:
conn = engine.connect()

### CREATE MEASUREMENTS TABLE

In [8]:
Base = declarative_base()

class Measurements(Base):
    __tablename__ = 'measurements'
    
    id = Column(Integer,primary_key=True)
    station=Column(Text)
    date=Column(String)
    prcp=Column(Float)
    tobs=Column(Float)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [9]:
Base.metadata.create_all(engine)

In [10]:
measurements_data=measurements.to_dict(orient='records')
print(measurements_data[:5])

[{'station': 'USC00519397', 'date': Timestamp('2010-01-01 00:00:00'), 'prcp': 0.08, 'tobs': 65}, {'station': 'USC00519397', 'date': Timestamp('2010-01-02 00:00:00'), 'prcp': 0.0, 'tobs': 63}, {'station': 'USC00519397', 'date': Timestamp('2010-01-03 00:00:00'), 'prcp': 0.0, 'tobs': 74}, {'station': 'USC00519397', 'date': Timestamp('2010-01-04 00:00:00'), 'prcp': 0.0, 'tobs': 76}, {'station': 'USC00519397', 'date': Timestamp('2010-01-06 00:00:00'), 'prcp': 0.0, 'tobs': 73}]

In [11]:
metadata=MetaData(bind=engine)
metadata.reflect()

In [12]:
measurements_table = sqlalchemy.Table('measurements', metadata, autoload=True)

In [13]:
conn.execute(measurements_table.delete())

In [14]:
conn.execute(measurements_table.insert(), measurements_data)

In [15]:
conn.execute("select * from measurements limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-06', 0.0, 73.0)]

### CREATE STATIONS TABLE

In [16]:
class Stations(Base):
    __tablename__ = 'stations'
    
    id = Column(Integer,primary_key=True)
    station=Column(Text)
    name=Column(Text)
    latitutde=Column(Float)
    longitude=Column(Float)
    elevation=Column(Float)

In [17]:
Base.metadata.create_all(engine)

In [18]:
stations_data=stations.to_dict(orient='records')
print(stations_data[:5])

[{'station': 'USC00519397', 'name': 'WAIKIKI 717.2, HI US', 'latitude': 21.2716, 'longitude': -157.8168, 'elevation': 3.0}, {'station': 'USC00513117', 'name': 'KANEOHE 838.1, HI US', 'latitude': 21.4234, 'longitude': -157.8015, 'elevation': 14.6}, {'station': 'USC00514830', 'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'latitude': 21.5213, 'longitude': -157.8374, 'elevation': 7.0}, {'station': 'USC00517948', 'name': 'PEARL CITY, HI US', 'latitude': 21.3934, 'longitude': -157.9751, 'elevation': 11.9}, {'station': 'USC00518838', 'name': 'UPPER WAHIAWA 874.3, HI US', 'latitude': 21.4992, 'longitude': -158.0111, 'elevation': 306.6}]

In [19]:
metadata=MetaData(bind=engine)
metadata.reflect()

In [20]:
stations_table = sqlalchemy.Table('stations', metadata, autoload=True)

In [21]:
conn.execute(stations_table.delete())

In [22]:
conn.execute(stations_table.insert(), stations_data)

In [23]:
conn.execute("select * from stations limit 5").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', None, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', None, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', None, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', None, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', None, -158.0111, 306.6)]